# Configurações do Servidor
NODE_ENV=development
PORT=3000

# Configurações do Socket.IO
SOCKET_CORS_ORIGIN=*

# Configurações de Segurança
HELMET_ENABLED=true
COMPRESSION_ENABLED=true

# Configurações de Log
LOG_LEVEL=info
LOG_TIMESTAMP=true

# Configurações de Performance
MAX_PAYLOAD_SIZE=50mb
REQUEST_TIMEOUT=30000
